<div class="row justify-content-center text-center">
  <div class="col-md-12">
    
    <figure class="figure">
      <img *ngIf="artistData.Images!=undefined" class="card-img border-0 rounded artist-thumbnail" src="{{artistData.Images[1].url}}" alt="{{artistData.Name}}" />
      <figcaption class="figure-caption text-right">Popularity: {{artistData.Popularity}}%</figcaption>
    </figure>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{artistData.Name}}</h4>
        <p class="card-text">{{artistData.Genres}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        [ArtistToptracks]
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        [ArtistCarrousel]
      </div>
    </div>

  </div>
</div>