<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="#">Spotify Sample</a>

  <form class="form-inline my-2 my-lg-0" name="searchForm" action="" (ngSubmit)="onSearchSubmit(searchForm)" #searchForm="ngForm">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
                <input class="form-check-input" type="checkbox" checked name="artist" id="artist" value="artist" ngModel>
                <span class="navbar-text">Artist |</span>
            </label>
    </div>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="album" id="album" value="album" ngModel>
                <span class="navbar-text">Album |</span>
            </label>
    </div>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="track" id="track" value="track" ngModel>
                <span class="navbar-text">Track</span>
            </label>
    </div>

    <span class="navbar-text">&nbsp;</span>

    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" minlength="3" name="query" id="query"
      required ngModel value="{{searchTerm}}">

    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" name="submitSearch" id="submitSearch" [disabled]="searchForm.invalid">
                Search
        </button>
  </form>

</nav>