<div class="row justify-content-center text-center">
  <div class="col-md-12">

    <figure class="figure">
      <img class="card-img border-0 rounded album-thumbnail" src="assets/img/noun_907578_cc.png" alt="[Album]" />
      <figcaption class="figure-caption text-right">Popularity: [AlbumPopularity]%</figcaption>
    </figure>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">[AlbumName]</h4>
        <p class="card-text">[ArtistsNames]</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        [AlbumTracks]
      </div>
    </div>

  </div>
</div>